<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aospstudio.android.apps.mediabook">

    <uses-permission android:name="android.webkit.PermissionRequest" />
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.software.webview" android:required="true" />
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="true" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:restoreAnyVersion="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/MeraPureUI4"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:targetApi="q"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MediabookHomeActivity"
            android:fitsSystemWindows="true"
            tools:targetApi="q">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="fb.com"/>
                <data android:host="facebook.com"/>
                <data android:host="www.facebook.com"/>
                <data android:host="m.facebook.com"/>
                <data android:host="mobile.facebook.com"/>
                <data android:host="mtouch.facebook.com"/>
                <data android:host="touch.facebook.com"/>
                <data android:host="p.facebook.com"/>
                <data android:host="m.me"/>
                <data android:host="messenger.com"/>
                <data android:host="ig.me"/>
                <data android:host="instagram.com"/>
                <data android:host="l.instagram.com"/>
                <data android:host="i.instagram.com"/>
                <data android:host="www.instagram.com"/>
                <data android:host="twitter.com"/>
                <data android:host="www.twitter.com"/>
                <data android:host="mobile.twitter.com"/>
                <data android:host="www.tumblr.com"/>
                <data android:host="pinterest.com"/>
                <data android:host="www.pinterest.com"/>
                <data android:host="www.linkedin.com"/>
                <data android:host="workplace.com" />
                <data android:host="work.workplace.com"/>
                <data android:host="workplace.m.facebook.com"/>
                <data android:host="myspace.com"/>
                <data android:host="www.flickr.com"/>
                <data android:host="www.pscp.tv"/>
                <data android:host="pscp.tv" />
                <data android:host="vk.com"/>
                <data android:host="m.vk.com"/>
                <data android:host="badoo.com"/>
                <data android:host="www.twoo.com"/>
                <data android:host="www.meetup.com"/>
                <data android:host="www.quora.com"/>
                <data android:host="weibo.com"/>
                <data android:host="m.weibo.cn"/>
                <data android:host="wikipedia.org"/>
                <data android:host="www.wikipedia.org"/>
                <data android:host="m.wikipedia.org"/>
                <data android:host="wattpad.com"/>
                <data android:host="www.wattpad.com"/>
                <data android:host="www.reddit.com"/>
                <data android:host="medium.com"/>
                <data android:host="ask.fm"/>
                <data android:host="www.livejournal.com"/>
                <data android:host="music.youtu.be"/>
                <data android:host="music.youtube.com"/>
                <data android:host="music.youtube"/>
                <data android:host="m.music.youtube.com"/>
                <data android:host="soundcloud.com"/>
                <data android:host="www.soundcloud.com"/>
                <data android:host="m.soundcloud.com"/>
                <data android:host="www.last.fm"/>
                <data android:host="twitch.tv"/>
                <data android:host="www.twitch.tv"/>
                <data android:host="m.twitch.tv"/>
                <data android:host="dlive.tv"/>
                <data android:host="dai.ly"/>
                <data android:host="dailymotion.com"/>
                <data android:host="www.dailymotion.com"/>
                <data android:host="youtu.be"/>
                <data android:host="youtube.com"/>
                <data android:host="www.youtube.com"/>
                <data android:host="m.youtube.com"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MediabookActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:fitsSystemWindows="true"
            android:launchMode="singleTop"
            tools:targetApi="q">
        </activity>

        <activity
            android:name=".customtabs.CustomTabActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:fitsSystemWindows="true"
            android:parentActivityName=".MediabookActivity"
            tools:targetApi="q">
        </activity>

        <activity
            android:name=".pages.BuyActivity"
            android:label="@string/buy_title"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:fitsSystemWindows="true"
            android:parentActivityName=".MediabookActivity"
            tools:targetApi="q">
        </activity>

        <service
            android:label="MeraSoundService"
            android:name=".service.BackgroundService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="android.allow_multiple_resumed_activities"
            android:value="true" />

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

    </application>

</manifest>
